:root {
  font-family: sans-serif;
  font-size: 16px;
}

:root,
body {
  margin: 0px;
  padding: 0px;
}

main {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
}

button,
.cl-action {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  font-weight: bold;
}

.cl-section {
  height: 28px;
  cursor: pointer;
}

.cl-primary {
  color: #0000ff;
}

.under {
  margin: auto;
}

.cl-primary {
  color: #0000ff;
  height: 25px;
  margin: auto 0 auto 0;
}

.layout {
  display: flex;
}

.cmp-input-section {
  border: 1px solid black;
  border-collapse: collapse;
}

.cl-primary:disabled,
.cl-warn:disabled {
  opencity: 0.5;
}

.cl-filler {
  flex: 1 0 auto;
}

button > *,
.cl-action > * {
  pointer-events: none;
}

input[type='number'],
.cl-number {
  font-family: monospace;
  text-align: right;
}

.cmp-input-no {
  display: inline-block;
  width: 3ch;
  flex: 1 0 auto;
}

.cmp-input-title {
  display: inline-flex;
  flex-direction: row;
  width: 13ch;
  align-self: center;
}

.cmp-input-title::after {
  content: '::';
  color: blue;
  padding-left: 1ch;
  padding-right: 1ch;
}

.cmp-input-container,
.cmp-output-container {
  display: grid;
  grid-template-columns: 1fr auto;
}

.cmp-input-container > label,
.cmp-output-container > label {
  display: grid;
  grid-template-columns: auto 1fr;
}

.cmp-output-container {
  margin-top: 4px;
}

.cmp-inputs-container {
  display: grid;
  row-gap: 4px;
}

.cmp-result {
  font-size: 0.82em;
  margin-right: 8.2ch;

  font-weight: bold;
  text-decoration: underline double;
}
